*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 0 auto;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://www.siamsporttalk.com/images/knowledge_other/basketball/bas3.jpg);
    background-size: cover;
}
.contact .content {
    max-width: 700px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p {
    font-weight: 300;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center; /* จัดวางทางขวาและซ้าย */
    align-items: center;
    max-width: 800px; /* ขนาดของกล่อง */
    width: 100%;
    margin-top: 30px;
}
.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon {
    min-width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
} 
.container .contactInfo .box .text h3 {
    font-weight: 400;
    color: #00bcd4;
}
.contactForm {
    width: 45%; /* กำหนดความกว้างของฟอร์มติดต่อ */
    padding: 45px;
    background: #fff;
}
.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,.inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    transform: translateY(-50%);
}
// .contactForm .inputBox input:focus + span{
//     top: 0;
//     left: 15px;
//     font-size: 16px;
//     padding: 0 2px;
// }
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,.contactForm{
        width: 100%;
    }
}

// .inputBox input,
// .inputBox textarea {
//     width: 100%; /* กำหนดให้ขนาดเต็มระดับ */
//     padding: 10px; /* กำหนดระยะห่างภายในกล่อง */
//     box-sizing: border-box; /* ปรับขนาดให้คำนวณจากขอบ */
//     border: 1px solid #ccc; /* กำหนดเส้นขอบ */
//     border-radius: 5px; /* กำหนดเส้นโค้งขอบ */
//     margin-bottom: 20px; /* กำหนดระยะห่างระหว่างกล่อง */
// }
