<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="product-container" id="item-product" >
        <app-shopping-cart-popup></app-shopping-cart-popup>
        <!-- 12 กล่องสินค้า -->
        <div *ngFor="let shoes of this.shoes" class="product-box">
          <img src="{{shoes.img}}" height="" alt="Product 2" class="product-image">
          <h1 class="product-title" style="white-space: nowrap;">{{shoes.nameproduct}}</h1>
          <p>{{shoes.detail}}</p>
          <div class="product-price">฿{{shoes.price}} </div>
          <button class="cart-button" (click)='shoppingCart()'>เพิ่มลงในตะกร้า</button>
        </div>

    </div>
</body>
</html>
