<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>
    <h1>ShoesBasketball</h1>
    <div class="contrainer">
        <div class="box1">
            <img src="https://ae01.alicdn.com/kf/Sc4a9b9c4cff84f94b5f743d063bb3c2fY.jpg_640x640Q90.jpg_.webp" alt="">
            
        </div>
        <div class="box2">
            <img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2023%2F03%2Fnike-sabrina-1-release-date-007.jpg?cbr=1&q=90" alt="">
        </div>
        <div class="box3">
            <img src="https://media.licdn.com/dms/image/D5612AQHXyORwO8a6Xw/article-cover_image-shrink_720_1280/0/1710943963707?e=2147483647&v=beta&t=d9rx3tDX0vEQ6FPaXZ12ZcYmRfqLzouPYQa7XX9caN4" alt="">
            
        </div>
        
    </div>
</body>
</html>